In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("Employees.xlsx")

In [6]:
data.head()

,No,First Name,Last Name,Gender,Start Date,Years,Department,Country,Center,Monthly Salary,Annual Salary,Job Rate,Sick Leaves,Unpaid Leaves,Overtime Hours
0,1,Ghadir,Hmshw,Male,2018-04-04,2,Quality Control,Egypt,West,1560,18720,3.0,1,0,183
1,2,Omar,Hishan,Male,2020-05-21,0,Quality Control,Saudi Arabia,West,3247,38964,1.0,0,5,198
2,3,Ailya,Sharaf,Female,2017-09-28,3,Major Mfg Projects,Saudi Arabia,West,2506,30072,2.0,0,3,192
3,4,Lwiy,Qbany,Male,2018-08-14,2,Manufacturing,United Arab Emirates,Main,1828,21936,3.0,0,0,7
4,5,Ahmad,Bikri,Male,2020-03-11,0,Manufacturing,Egypt,Main,970,11640,5.0,0,5,121

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No              689 non-null    int64
 1   First Name      689 non-null    object
 2   Last Name       689 non-null    object
 3   Gender          689 non-null    object
 4   Start Date      689 non-null    datetime64[ns]
 5   Years           689 non-null    int64
 6   Department      689 non-null    object
 7   Country         689 non-null    object
 8   Center          689 non-null    object
 9   Monthly Salary  689 non-null    int64
 10  Annual Salary   689 non-null    int64
 11  Job Rate        689 non-null    float64
 12  Sick Leaves     689 non-null    int64
 13  Unpaid Leaves   689 non-null    int64
 14  Overtime Hours  689 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 80.9+ KB

In [9]:
data.shape

(689, 15)

In [11]:
data.isna().sum()

No                0
First Name        0
Last Name         0
Gender            0
Start Date        0
Years             0
Department        0
Country           0
Center            0
Monthly Salary    0
Annual Salary     0
Job Rate          0
Sick Leaves       0
Unpaid Leaves     0
Overtime Hours    0
dtype: int64

In [12]:
data.duplicated().sum()

0

In [ ]:
data["Gender"].value_counts()